.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  font-family: var(--font-family);
  color: var(--primary-color);
}

.confirmation-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.confirmation-container p {
  font-size: 1.2rem;
  color: var(--text-medium);
}
