
.policy-card-container {
  background-color: var(--bg-light);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-subtle);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.policy-card-container:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.policy-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.policy-content {
  margin-top: 0%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.policy-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.policy-description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-medium);
  margin-bottom: 10px;
}

.policy-meta {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 4px 0;
  color: var(--text-dark);
}